@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .animate-in {
        animation-duration: 150ms;
        animation-fill-mode: both;
    }
    .fade-in {
        animation-name: enter;
        opacity: 0;
    }
    .slide-in-from-top-2 {
        --tw-enter-translate-y: -0.5rem;
    }

    @keyframes enter {
        from {
            opacity: 0;
            transform: translateY(var(--tw-enter-translate-y, 0));
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}
